<nav class="navbar" aria-label="Main Navigation">
  <div class="navbar__logo">
    <a routerLink="/dashboard" aria-label="MyLibrary Home">MyLibrary</a>
  </div>

  <div class="navbar__menu">
    <a routerLink="/dashboard" routerLinkActive="navbar__link--active" class="navbar__link"> Dashboard </a>
    <a routerLink="/books" routerLinkActive="navbar__link--active" class="navbar__link"> Books </a>
    <a routerLink="/users" routerLinkActive="navbar__link--active" class="navbar__link"> Users </a>
    <a routerLink="/orders" routerLinkActive="navbar__link--active" class="navbar__link"> Orders </a>
    <a routerLink="/payments" routerLinkActive="navbar__link--active" class="navbar__link"> Payments </a>
    <a routerLink="/login" routerLinkActive="navbar__link--active" class="navbar__link"> Sign In </a>
  </div>
</nav>
